/* /////////////////////// Image/top /////////////////////// */

#menu{
	background-color: var(--gris-background);
	padding-bottom: 4em;
	position: relative;
}

#menu  div img{
	object-fit: cover;
	object-position: 50% 70%;

	width: 100%;
	height: 260px;
	margin-bottom: 3em;
	box-shadow: 0px 6px 10px -3px rgba(206,206,206,1) inset;
}

#menu #imgfitrezizeLNE img{
	object-position: 50% 60%;
}



h1{
	font-family: 'Shrikhand', cursive;
	width: 70%;
	font-size: 1.8em;
	font-weight: normal;
}

.top{
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 3em 3em 0 0;
	position: absolute;
	top: 12em;
	background-color: #fff;
	width: 100%;
	padding-top: 1.5em;
	background-color: var(--gris-background);
}

.top .far{
	font-size: 1.5em;
	margin-left: -1em;
}
.top h1{
	width: 80%;
}
/* /////////////////////// Menu /////////////////////// */

.smenu{
	width: 93%;
	margin: auto;
}

h2{
	margin-top: 3em;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1em;
}

.traitvert{
	margin-top: -0.6em ;
	width: 40px;
	height: 0.2em;
	background-color: var(--vertpale-tertiaire);
}

#menu .btnrose{
	margin-top: 4em;
	text-align: center;
}

.boxmenu{
	background-color: #fff;
	border-radius: 1em;
	margin-top: 1em;
	cursor: pointer;
	box-shadow: 1px 5px 20px -9px rgba(0,0,0,0.59);
	height: 70px;
	display: flex;
	overflow: hidden;

}

strong{
	padding: 1em;
	padding-left: 1em;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.box-text{
	padding: 1em;
	padding-right: 0;
	flex: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.box-text p ,h3{
	font-size: 1em;
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////*/
/*                                        Keyframes/ animations                                   */
/* ///////////////////////////////////////////////////////////////////////////////////////////////*/


@keyframes apparition{
	0%{
		opacity: 0;
		transform: translateY(15px);

	}

	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}

.boxmenu{
	animation: apparition 1500ms ease-in-out;
}
.plats .boxmenu{
	animation-delay: 50ms;
}
.dessert .boxmenu{
	animation-delay: 100ms;
}
.delay1{
	animation-delay: 60ms
}
.delay2{
	animation-delay: 90ms;
}
.delay3{
	animation-delay: 120ms
}

/* <3 */
.flexheart{
	position: relative;
}

.vide{
	opacity: 1;
	position: absolute;
	right: 0em;
	transition: 400ms;
	cursor: pointer;
}
.plein{
	font-size: 1.5em;
	color: var(--rouge-coeur);
	opacity: 0;
	transition: 500ms;
}

.flexheart:hover > .plein{
	opacity:1;
}
.flexheart:hover >.vide{
	color: var(--rouge-coeur);
}

/* Checked */

.checked{
	height: 70px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--vertpale-tertiaire);
	margin-right: -4.4em;
	transform-origin: right;
	transition: 400ms; 
}

.smenu .fas{
	color: white;
	font-size: 1.5em;

	transition: 400ms;
	transform: rotate(90deg);
}

body .boxmenu:active > .checked{
	margin-right: 0em;
}

body .boxmenu:active >.checked  >.fas{
	transform: rotate(360deg);
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////*/
/*                                        Media                                                   */
/* ///////////////////////////////////////////////////////////////////////////////////////////////*/


@media screen and (min-width: 768px){

	.smenu{
		display: flex;
		justify-content: space-between;
		width: 94%;
	}
	.entrees{
		width: 31%;
	}
	.plats{
		width: 31%;
	}
	.dessert{
		width: 31%;
	}

	#menu  div img{
		height: 320px;
	}
	.top{
		top:13em;
	}

}

@media screen and (min-width: 1024px){
	
	#menu  div img{
		height: 420px;
	}
	.top{
		top:20em;
	}
}

@media screen and (min-width: 1440px){
	
	#menu  div img{
		height: 500px;
	}
	.top{
		top:24.5em;
	}
}